<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs', {
    title: 'Inicio',
    stylesheets: [
        'stylesheets/style.css',
        'stylesheets/layout.css',
        'stylesheets/productList.css'
        ]
    }) %>

<body>

    <%- include('./partials/header.ejs') %>

    <main class="catalogo">
        <div class="product-list">
            <% products.slice(0, 2).forEach(product => { %>
                <div class="product-card">
                    <a href="/products/<%= product.id %>">
                        <h2><%= product.name %></h2>
                        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                        <p><span class="campo">Categoría:</span> <%= product.Category.name %></p>
                        <p><span class="campo">Marca:</span> <%= product.Brand.name %></p>
                        <p><span class="campo">Precio:</span> $<%= product.price %></p>
                    </a>
                </div>
            <% }); %>
        </div>
    </main>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>