<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 border rounded p-4 shadow bg-light">

            <form id="userForm" action="<%= isRegister ? '/users/' : `/users/${user.id}?_method=PUT` %>" method="POST"
                enctype="multipart/form-data" data-action="<%= isRegister ? 'crearUsuario' : 'editarUsuario' %>"
                data-logged-user-email="<%= isRegister ? '' : user.email %>">

                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#000000">
                        <path
                            d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
                    </svg>
                    <%= formTitle %>
                </h2>

                <div class="mb-3">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" autocomplete="off" autofocus
                        value="<%= user ? user.firstName : '' %>">
                    <div id="firstNameError" class="text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" autocomplete="off"
                        value="<%= user ? user.lastName : '' %>">
                    <div id="lastNameError" class="text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" autocomplete="off"
                        value="<%= user ? user.email : '' %>">
                    <div id="emailError" class="text-danger"></div>
                </div>

                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control">
                        <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
                            <i class="bi bi-eye-slash" id="toggleIcon">
                                <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" height="24px"
                                    viewBox="0 -960 960 960" width="24px" fill="#000000">
                                    <path
                                        d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                                </svg>
                            </i>
                        </span>
                    </div>
                    <div id="passwordError" class="text-danger"></div>
                </div>

                <% if (isRegister) { %>
                    <div class="mb-3">
                        <label for="category" class="form-label">Categoría</label>
                        <select id="category" name="category" class="form-select">
                            <option value="user">Usuario</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                    <% } %>

                        <div class="mb-3">
                            <label for="profileImage" class="form-label">Imagen de Perfil</label>
                            <input type="file" id="profileImage" name="profileImage" class="form-control"
                                accept="image/*">
                            <div id="profileImageError" class="text-danger"></div>
                        </div>

                        <% if (isRegister) { %>
                            <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                            <a class="login mt-3 d-block text-center" href="/users/login">Iniciar sesión</a>
                            <% } else { %>
                                <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
                                <% } %>
            </form>
        </div>
    </div>
</div>