<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {
    title: 'Perfil de Usuario',
    stylesheets: [
        '../stylesheets/style.css',
        '../stylesheets/layout.css',
        '../stylesheets/userProfile.css'
        ]
    }) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="perfil-usuario">
            <div class="perfil-contenido">
                <div class="perfil-imagen">
                    <% if (user.profileImage) { %>
                    <img src="/images/users/<%= data.profileImage %>" alt="Imagen de perfil de <%= data.firstName %>">
                    <% } else { %>
                    <img src="/images/users/user-undefined.png" alt="Imagen de perfil de <%= data.firstName %>">
                    <% } %>
                </div>

                <div class="perfil-info">
                    <h1><%= data.firstName %> <%= data.lastName %></h1>

                    <div class="perfil-detalle">
                        <span class="campo">Correo Electrónico:</span>
                        <p><%= data.email %></p>
                    </div>

                    <div class="perfil-detalle">
                        <span class="campo">Categoría:</span>
                        <p><%= data.category === 'admin' ? 'Administrador' : 'Usuario' %></p>
                    </div>
                    <a href="/users/edit" class="btn-edit">Editar usuario</a>
                    <a href="/users/logout" class="btn-logout">Cerrar Sesión</a>
                    <form action="/users/<%= data.id %>?_method=DELETE" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que querés eliminar este usuario?');">
                        <button type="submit" class="btn-destroy">Eliminar usuario</button>
                    </form>                    
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>
