<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {
    title: 'Producto',
    stylesheets: [
        '../stylesheets/style.css',
        '../stylesheets/layout.css',
        '../stylesheets/productDetail.css'
        ]
    }) %>

<body>
    
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="producto-detalle">
            <div class="producto-imagen">
                <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="producto-info">
                <h1><%= product.name %></h1>
                <div>
                    <span class="campo">Descripción:</span>
                    <%= product.description %>
                </div>
                <div>
                    <span class="campo">Categoría:</span>
                    <%= product.category %>
                </div>
                <div>
                    <span class="campo">Color/es:</span>
                    <%= product.colors %>
                </div>
                <a href="<%= product.officialWeb %>" target="_blank">
                    <span class="producto-descripcion-oficial">Ver descripción oficial</span>
                </a>
                <p class="producto-precio">Precio: $ <%= product.price %></p>
                <button class="btn-comprar">Agregar al Carrito</button>
                <a href="<%= product.id %>/edit" class="edit">Editar producto</a>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
                    <button type="submit" class="delete">Eliminar producto</button>
                </form>                
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>