<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {
    title: 'Producto',
    stylesheets: [
        '../stylesheets/style.css',
        '../stylesheets/layout.css',
        '../stylesheets/productDetail.css'
        ]
    }) %>

<body>
    
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="producto-detalle">
            <div class="producto-imagen">
                <img src="/images/products/<%= data.image %>" alt="<%= data.name %>">
            </div>
            <div class="producto-info">
                <h1><%= data.name %></h1>
                <div>
                    <span class="campo">Marca:</span>
                    <%= data.Brand.name %>
                </div>
                <div>
                    <span class="campo">Categoría:</span>
                    <%= data.Category.name %>
                </div>
                <div>
                    <span class="campo">Descripción:</span>
                    <%= data.description %>
                </div>
                <div>
                    <span class="campo">Dimensiones:</span>
                    <%= data.size %>
                </div>
                <div>
                    <span class="campo">Color/es:</span>
                    <% for (let i = 0; i < data.Colors.length; i++) { %>
                        <span><%= data.Colors[i].name %></span>
                        <% if (i < data.Colors.length - 1) { %>, <% } %>
                    <% } %>
                </div>
                <a href="<%= data.officialWeb %>" target="_blank">
                    <span class="producto-descripcion-oficial">Ver descripción oficial</span>
                </a>
                <p class="producto-precio">Precio: $ <%= data.price %></p>
                <button class="btn-comprar">Agregar al Carrito</button>
                <% if (user && user.category == 'admin') { %>
                <a href="<%= data.id %>/edit" class="edit">Editar producto</a>
                <form action="/products/<%= data.id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de que querés eliminar este producto?');">
                    <button type="submit" class="delete">Eliminar producto</button>
                </form>
                <% } %>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>