<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Editar usuario',
stylesheets: ['/css/styles.css', '/css/form.css'] }) %>

</head>

<body>
    <%- include('../partials/header') %>
    <main>
      <form id="editForm" class="registro" action="/user/<%= usuario.id %>?_method=PUT" method="POST">
        <div id="validationMessage"></div>
        <h2>Editar usuario</h2>
        <input type="text" name="firstName" id="firstName" placeholder="Nombre" value="<%= usuario.firstName %>" autocomplete="off" required>
        <input type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%= usuario.lastName %>" autocomplete="off" required>
        <input type="email" name="email" id="email" placeholder="Correo" value="<%= usuario.email %>" autocomplete="off" required>
        <input type="password" name="password" id="password" placeholder="Contraseña" value="<%= usuario.password %>" autocomplete="off" required> 
        <hr>
        <button type="submit" id="registrar">Guardar Cambios</button>
      </form>
      <script src="/js/frontend-userValidation.js"></script>
      <script src="/js/formEvent.js"></script>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>