<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Perfil usuario',
stylesheets: ['/css/styles.css', '/css/perfil.css'] }) %>

<body>
  <%- include('../partials/header') %>
      <main>
        <div class="perfil">
          <div>
            <% if (user.image) { %>
              <img src="/images/users/<%= user.image %>" alt="Foto de Perfil">
            <% } else { %>
              <p>No hay foto de perfil disponible.</p>
            <% } %>
          </div>
          <div class="datos-usuario">
            <h2>Datos Personales</h2>
            <ul>
              <li>
                <!-- <span>ID Cliente:</span> <%= user.id %> -->
                <span class="campo">ID Cliente:</span> <%= user.id %>
              </li>
              <li>
                <span class="campo">Nombre y apellido: </span><%= user.firstName %> <%= user.lastName %>
              </li>
              <li>
                <span class="campo">Correo: </span><%= user.email %>
              </li>
              <li>
                <!-- Podría condicionarlo, si es admin mostrarlo y sino no. -->
                <span class="campo">Categoría: </span><%= user.category %>
              </li>
              <li class="cerrar-sesion">
                <a href="/user/logout">Cerrar Sesión</a>
                <a href="/user/<%= user.id %>/edit">Editar usuario</a>
              </li>
            </ul>
        </div>
      </div>

      </main>
  <%- include('../partials/footer') %>
</body>

</html>